{% trans_default_domain 'FOSUserBundle' %}


{# empty Twig template #}
{% extends "::layout.html.twig" %}
{% block body %}
<div id="content">
            <div class="container">

                <div class="col-md-12">

                    <ul class="breadcrumb">
                        <li><a href="#">Home</a>
                        </li>
                        <li>My account</li>
                    </ul>

                </div>

                <div class="col-md-3">
                    <!-- *** CUSTOMER MENU ***
 _________________________________________________________ -->
                    <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title">Customer section</h3>
                        </div>

                        <div class="panel-body">

                            <ul class="nav nav-pills nav-stacked">
                                <li>
                                    <a href="{{ path('listecommandes')}}"><i class="fa fa-list"></i> My orders</a>
                                </li>
                                <li>
                                    <a href="{{ path('wishlist')}}"><i class="fa fa-heart"></i> My wishlist</a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_profile_edit')}}"><i class="fa fa-user"></i> My account</a>
                                </li>
                                <li class="active">
                                    <a href="{{ path('fos_user_change_password')}}"><i class="fa fa-user"></i> Change password</a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_security_logout')}}"><i class="fa fa-sign-out"></i> Logout</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** CUSTOMER MENU END *** -->
                </div>

                <div class="col-md-9">
                    <div class="box">
                        <h1>My account</h1>
                        <p class="lead">Change your personal details or your password here.</p>
                        <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

                        <h3>Change password</h3>

                        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                   
       
                  <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">          
                                        
  {{ form_widget(form) }}
  <div class="alert alert-danger" role="alert">  {{form_errors(form)}}</div>
  
  
                               </div>
                                </div>
                            </div>
                          
    <div class="col-sm-12 text-center">
        <input type="submit" class="btn btn-primary" value="{{ 'Save new password'|trans }}" />
    </div>
{{ form_end(form) }}
                            

                          
                       

                        <hr>

                    </div>
                </div>

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
{% endblock %}

